div
  form(name="contactForm",
       ng-submit="submit(contactForm.$valid)",
       role="form",
       novalidate="true")
    legend(class="title") Fill in the form for a quick call

    .alert.alert-warning(ng-show="message", role="alert")
      | {{ message }}

    ul.list-unstyled.error-messages(ng-show="errors.length>0")
      li(ng-repeat="message in errors")
        .alert.alert-danger(ng-show="message", role="alert")
          | {{ message }}

    .row
      fieldset
        .col-md-12
          .form-group(ng-class="{ 'has-error' : contactForm.name.$invalid && (contactForm.name.$dirty || contactForm.$submitted) }")
            label.string.required.control-label(for="name")
              | Name
              abbr(title="required") *
            input#name.form-control(name="name",
                                          type="text",
                                          placeholder="Name",
                                          ng-model="newContact.name",
                                          required="true", autofocus)
            div(ng-messages="contactForm.name.$error", ng-if="contactForm.name.$invalid && (contactForm.name.$dirty || contactForm.$submitted)", role="alert")
              span.help-block.has-error(ng-message="required")
                | Name cannot be blank

        .col-md-12
          .form-group(ng-class="{ 'has-error' : contactForm.business_name.$invalid && (contactForm.business_name.$dirty || contactForm.$submitted) }")
            label.string.required.control-label(for="business_name")
              | Business name
              abbr(title="required") *
            input#name.form-control(name="business_name",
                                          type="text",
                                          placeholder="Business Name",
                                          ng-model="newContact.business_name",
                                          required="true")
            div(ng-messages="(contactForm.business_name.$error", ng-if="contactForm.business_name.$invalid && (contactForm.business_name.$dirty || contactForm.$submitted)", role="alert")
              span.help-block.has-error(ng-message="required")
                | Business name cannot be blank



        .col-md-12
          .form-group(ng-class="{ 'has-error' : contactForm.telephone_number.$invalid && (contactForm.telephone_number.$dirty || contactForm.$submitted) }")
            label.string.required.control-label(for="telephone_number")
              | Telephone number
              abbr(title="required") *
            input#telephone_number.form-control(name="telephone_number",
                                          type="text",
                                          placeholder="Telephone number",
                                          ng-model="newContact.telephone_number",
                                          required="true"
                                          )
            div(ng-messages="contactForm.telephone_number.$error", ng-if="contactForm.telephone_number.$invalid && (contactForm.telephone_number.$dirty || contactForm.$submitted)", role="alert")
              span.help-block.has-error(ng-message="required")
                | Telephone number cannot be blank


        .col-md-12
          .form-group(ng-class="{ 'has-error' : contactForm.email.$invalid && (contactForm.email.$dirty || contactForm.$submitted) }")
            label.string.required.control-label(for="email")
              | e-mail
              abbr(title="required") *
            input#email.form-control(name="email",
                                          type="email",
                                          placeholder="e-mail",
                                          ng-model="newContact.email",
                                          required="true"
                                          )
            div(ng-messages="contactForm.email.$error", ng-if="contactForm.email.$invalid && (contactForm.email.$dirty || contactForm.$submitted)", role="alert")
              span.help-block.has-error(ng-message="required")
                | invalid e-mail

        .col-md-12
          .form-group
            label.string.required.control-label(for="contact_time")
              | Contact time
            input#name.form-control(name="contact_time",
                                          type="text",
                                          placeholder="Contact Time",
                                          ng-model="newContact.contact_time")

        .col-md-12
          .form-group
            label.string.required.control-label(for="notes")
              | Notes
            textarea#name.form-control(name="notes",
                                          placeholder="Write here...",
                                          ng-model="newContact.notes")

        .col-md-12
          .form-group
            label.string.required.control-label(for="reference")
              | Reference
            input#name.form-control(name="reference",
                                          type="text",
                                          placeholder="Business Name",
                                          ng-model="newContact.reference")




        .col-md-offset-4.col-md-4.text-center
          button.btn.btn-primary.expand(type='submit') REQUEST A CALLBACK
